.site-layout-background {
    background: #fff;
}

button {
    background: #3AB44A;
    border-radius: 6px;
    width: 20%;
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 24px;
    text-decoration: none;
    border: none;
    margin-bottom: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    button {
        padding: 6px 18px;
        font-size: 14px;
    }
}

.space-action {
    background: #FFFFFF;
border: 1px solid #D1D5DB;
border-radius: 6px;
padding: 8px 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #000000;
text-decoration: none;
}