.layout__sidebar {
  background: #fff !important;
  flex: 0 0 250px !important; 
  max-width: 250px !important; 
  min-width: 250px !important; 
  width: 250px !important;
}

.sidebar__list {
  list-style: none;
  padding: 2px;
  margin-top: 25px;
}

.sidebar__listItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #6B7280;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar__listItem:hover {
  color: #000000; 
}

.sidebar__listItem .sidebar__image {
  padding: 10px ;
}

.sidebar-img {
  margin-right: 25px;
}

.activeClassName {
  
}

.activeClassName .sidebar-img {
  padding: 10px;
  border-radius: 8px;
  background: #3ab44a; 
}

.activeClassName .sidebar__image{
  filter: invert(100%) sepia(2%) saturate(13%) hue-rotate(212deg) brightness(200%) contrast(99%);
}

.sidebar__listItem:hover .sidebar-img {
  padding: 10px;
  border-radius: 8px;
  background: #3ab44a; 
}

.sidebar__listItem:hover .sidebar__image{
  filter: invert(100%) sepia(2%) saturate(13%) hue-rotate(212deg) brightness(200%) contrast(99%);
}

/* .sidebar__image {
  margin-right: 25px;
  background: transparent;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  padding: 10px ;
} */

/* .sidebar__image:hover {
  background: #3ab44a; 
  color: #fff;
} */
